<a href="https://colab.research.google.com/github/trhgnhat/DS_DevC_CoderSchool/blob/master/Nhat_DAwP_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://i.imgur.com/0AUxkXt.png)

# Assignment 1 - The Hacker Rank

HackerRank is a place where programmers from all over the world come together to solve problems in a wide range of Computer Science domains.

As you solve more challenges, you earn points and move up the HackerRank Leaderboard.

Looking for a job at an awesome company? You can get hired by solving [challenges](https://www.hackerrank.com/jobs/search)!

It's cool. Let's establish your knowledge and fight for glory!

But before that let's make it clear that..

## Note-taking is IMPORTANT

Blog: [Why is note-taking important](https://nickblackbourn.com/blog/why-is-note-taking-important/)

Note taking isn’t just important for college students, it’s a valuable life skill.

Effective note taking helps you to remember information and aids your understanding of that information. 

**Notes boost your understanding**

By making notes, you force yourself to construct a conceptual mental representation of the ideas you are grappling with. It is this process that helps you comprehend the subject matter you are working with.

**Notes are a repository of your thinking**

When you need to recall something that you came across a while ago, you can go over the main ideas by looking over your notes. This is why good, comprehensive notes are so useful; they are a catalogue of the best ideas you’ve encountered, and what you thought about them.

etc.

## Requirements

Pick 10 challenges on HackerRank about SQL and 5 about Python in **easy** level:

[HackerRank - Domain SQL](https://www.hackerrank.com/domains/sql?filters%5Bdifficulty%5D%5B%5D=easy&filters%5Bsubdomains%5D%5B%5D=select)

[HackerRank - Domain Python](https://www.hackerrank.com/domains/python?filters%5Bdifficulty%5D%5B%5D=easy)

For each challenge:

* Create a markdown cell first that describes the challenge.
* Solve the challenge on HackerRank and copy your solution to a code cell below
* (Optional) A short description about how you came up with the solution would be awesome.

## Example

### SQL


#### Problem 1

Query all columns for all American cities in **CITY** with populations larger than 100000. The CountryCode for America is USA.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
# Solution
# SELECT * from city WHERE population>100000 AND countrycode='USA';

### Python

#### Problem 1

**Task** 
Given an integer, , perform the following conditional actions:

* If `n` is odd, print *Weird*
* If `n` is even and in the inclusive range of 2 to 5, print *Not Weird*
* If `n` is even and in the inclusive range of 6 to 20, print *Weird*
* If `n` is even and greater than 20, print *Not Weird*

**Input Format**

A single line containing a positive integer, .

**Output Format**

Print Weird if the number is weird; otherwise, print Not Weird.

In [0]:
n = int(input())

if n % 2 == 1:
    print('Weird')
else:
    if (n >= 2) and (n <= 5):
        print('Not Weird')
    elif (n >= 6) and (n <= 20):
        print('Weird')
    else:
        print('Not Weird')

## Your turn

Good luck and have fun!

### SQL

#### Ex 1
Query all columns for all American cities in CITY with populations larger than 100000. The CountryCode for America is USA.

The CITY table is described as follows: ![alt text](https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg)

In [0]:
SELECT * FROM CITY WHERE COUNTRYCODE = "USA" and POPULATION > 100000

#### Ex 2
Query the names of all American cities in CITY with populations larger than 120000. The CountryCode for America is USA.

The CITY table is described as follows: ![alt text](https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg)

In [0]:
SELECT NAME FROM CITY WHERE COUNTRYCODE = "USA" and POPULATION > 120000

#### Ex 3

Query all columns for a city in CITY with the ID 1661.

The CITY table is described as follows: ![alt text](https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg)

In [0]:
SELECT * FROM CITY WHERE ID=1661

#### Ex 4
Query all attributes of every Japanese city in the CITY table. The COUNTRYCODE for Japan is JPN.

The CITY table is described as follows: ![alt text](https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg)

In [0]:
SELECT * FROM CITY WHERE COUNTRYCODE="JPN"

#### Ex 5
Query the names of every Japanese city in the CITY table. The COUNTRYCODE for Japan is JPN.

The CITY table is described as follows: ![alt text](https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg)

In [0]:
SELECT NAME FROM CITY WHERE COUNTRYCODE="JPN"

#### Ex 6
Query a list of CITY and STATE from the STATION table.

Input Format

The STATION table is described as follows:
![alt text](https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg)

In [0]:
SELECT CITY, STATE FROM STATION

#### Ex 7
Query the list of CITY names from STATION which have vowels (i.e., a, e, i, o, and u) as both their first and last characters. Your result cannot contain duplicates.

The STATION table is described as follows:
![alt text](https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg)

In [0]:
SELECT DISTINCT CITY FROM STATION WHERE CITY RLIKE '^[aeiouAEIOU].*[aeiouAEIOU]$'

#### Ex 8
Query the list of CITY names from STATION that do not start with vowels. Your result cannot contain duplicates.

The STATION table is described as follows:
![alt text](https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg)

In [0]:
SELECT DISTINCT CITY FROM STATION WHERE CITY NOT RLIKE '^[aeiouAEIOU].*'

#### Ex 9
Query the list of CITY names from STATION that do not end with vowels. Your result cannot contain duplicates.

The STATION table is described as follows:
![alt text](https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg)

In [0]:
SELECT DISTINCT CITY FROM STATION WHERE CITY NOT RLIKE '.*[aeiouAEIOU]$'

#### Ex 10
Query the list of CITY names from STATION that either do not start with vowels or do not end with vowels. Your result cannot contain duplicates.

The STATION table is described as follows:
![alt text](https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg)

In [0]:
SELECT DISTINCT CITY FROM STATION WHERE CITY NOT RLIKE '.*[aeiouAEIOU]$' OR CITY NOT RLIKE '^[aeiouAEIOU].*'

### Python

#### Ex 1
We add a Leap Day on February 29, almost every four years. The leap day is an extra, or intercalary day and we add it to the shortest month of the year, February. 
In the Gregorian calendar three criteria must be taken into account to identify leap years:

>The year can be evenly divided by 4, is a leap year, unless:

>>The year can be evenly divided by 100, it is NOT a leap year, unless:

>>>The year is also evenly divisible by 400. Then it is a leap year.

This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years.Source

Task 
You are given the year, and you have to write a function to check if the year is leap or not.

Note that you have to complete the function and remaining code is given as template.

**Input Format**

Read y, the year that needs to be checked.

**Constraints**

`1990 <= y <= 10^5`

**Output Format**

Output is taken care of by the template. Your function must return a boolean value (True/False)


**Sample Input **

> `1990`

**Sample Output **

> `False`

**Explanation **

1990 is not a multiple of 4 hence it's not a leap year.

In [0]:
def is_leap(year):
    leap = False
    
    leap = ((year % 400 == 0 and year % 100 == 0) or ((year % 4 == 0 and year % 100 != 0))) and (year <= 10**5 and year >= 1900)
    
    return leap

year = int(raw_input())
print is_leap(year)

#### Ex 2
Task 
Read two integers from STDIN and print three lines where:

The first line contains the sum of the two numbers.
The second line contains the difference of the two numbers (first - second).
The third line contains the product of the two numbers.
Input Format

The first line contains the first integer, a. The second line contains the second integer, b.

Output Format

Print the three lines as explained above.

Sample Input 


```
3
2
```


Sample Output 

```
5
1
6
```

Explanation 

```
3+2=5

3-2=1

3*2=6
```

In [0]:
a = int(input())
b = int(input())
print(a+b)
print(a-b)
print(a*b)

#### Ex 3

heck Tutorial tab to know how to to solve.

Read an integer N.

Without using any string methods, try to print the following:
123...N

Note that "" represents the values in between.

**Input Format**

The first line contains an integer N.

**Output Format**

Output the answer as explained in the task.

**Sample Input 0**

`3`

**Sample Output 0**

`123`

In [0]:
def print_n(n):
    if n > 1:
        print(print_n(n-1), end="")
    return n
    
    
if __name__ == '__main__':
    n = int(input())
    print_n(n+1)

#### Ex 4

**Task **
Read an integer `N`. For all non-negative integers `i < N`, print `i^2`. See the sample for details.

**Input Format**

The first and only line contains the integer, N.

Constraints

`1<=N<=20`

**Output Format**

Print N lines, one corresponding to each `i^2`.


**Sample Input **


```
5
```


**Sample Output **


```
0
1
4
9
16
```

In [0]:
def print_n(n):
    if n > 0:
        print(print_n(n-1))
    return n**2

if __name__ == '__main__':
    n = int(input())
    print_n(n)

#### Ex 5
#### Problem 1

**Task** 
Given an integer, , perform the following conditional actions:

* If `n` is odd, print *Weird*
* If `n` is even and in the inclusive range of 2 to 5, print *Not Weird*
* If `n` is even and in the inclusive range of 6 to 20, print *Weird*
* If `n` is even and greater than 20, print *Not Weird*

**Input Format**

A single line containing a positive integer, .

**Output Format**

Print Weird if the number is weird; otherwise, print Not Weird.

**Sample Input 0**

`3`

**Sample Output 0**

`Weird`

**Explanation 0**

 `n = 3`
 
 `n` is odd and odd numbers are weird, so we print Weird.

**Sample Input 1**

`24`

**Sample Output 1**

`Not Weird`

**Explanation 1**

 `n = 24`
 
 `n > 20` and  `n` is even, so it isn't weird. Thus, we print Not Weird.

In [0]:
import math
import os
import random
import re
import sys

if __name__ == '__main__':
    n = int(input().strip())
    if n % 2 == 1:
        print('Weird')
    else:
        if (n >= 2) and (n <= 5):
            print('Not Weird')
        elif (n >= 6) and (n <= 20):
            print('Weird')
        else:
            print('Not Weird')