<a href="https://colab.research.google.com/github/trhgnhat/DS_DevC_CoderSchool/blob/master/Team_Nhat%26TA_Kickstarter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Team 3 - Kickstarter

![](https://a.kickstarter.com/assets/site/social/og-kickstarter-social-d58bfe030adf82001e25d3f7015eedb8ab84bc4bf9eeeeede5f8d8b0d02d641a.png)

_For more information about the dataset, read [here](https://www.kaggle.com/kemical/kickstarter-projects)._

## Your tasks
- Name your team!
- Read the source and do some quick research to understand more about the dataset and its topic
- Clean the data
- Perform Exploratory Data Analysis on the dataset
- Analyze the data more deeply and extract insights
- Visualize your analysis on Google Data Studio
- Present your works in front of the class and guests next Monday

## Submission Guide
- Create a Github repository for your project
- Upload the dataset (.csv file) and the Jupyter Notebook to your Github repository. In the Jupyter Notebook, **include the link to your Google Data Studio report**.
- Submit your works through this [Google Form](https://forms.gle/oxtXpGfS8JapVj3V8).

## Tips for Data Cleaning, Manipulation & Visualization
- Here are some of our tips for Data Cleaning, Manipulation & Visualization. [Click here](https://hackmd.io/cBNV7E6TT2WMliQC-GTw1A)

_____________________________

## Some Hints for This Dataset:
- The format of `launched` column is not consistent with `deadline` column
- Can you calculate the duration of the projects?
- Some projects in `launched` and `deadline` columns have year = 1970, which is way before Kickstarter was born!
- And more...

In [5]:
!pip install --upgrade -q gspread
!pip install gspread oauth2client

Requirement already satisfied: gspread in /usr/local/lib/python3.6/dist-packages (3.1.0)
Requirement already satisfied: oauth2client in /usr/local/lib/python3.6/dist-packages (4.1.3)
Requirement already satisfied: requests>=2.2.1 in /usr/local/lib/python3.6/dist-packages (from gspread) (2.21.0)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from oauth2client) (4.0)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from oauth2client) (0.4.6)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.6/dist-packages (from oauth2client) (0.2.6)
Requirement already satisfied: six>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from oauth2client) (1.12.0)
Requirement already satisfied: httplib2>=0.9.1 in /usr/local/lib/python3.6/dist-packages (from oauth2client) (0.11.3)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (2019.6.16)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (3.0.4)

In [0]:
# Start your codes here
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from google.colab import drive
drive.mount('/content/gdrive/')

In [0]:
df = pd.read_csv("https://dl.dropboxusercontent.com/s/niun2jvuo845lzc/kickstarter.csv?dl=0")

In [51]:
df.head()

           ID  ... usd_goal_real
0  1000002330  ...       1533.95
1  1000003930  ...      30000.00
2  1000004038  ...      45000.00
3  1000007540  ...       5000.00
4  1000011046  ...      19500.00
5  1000014025  ...      50000.00
6  1000023410  ...       1000.00
7  1000030581  ...      25000.00
8  1000034518  ...     125000.00
9   100004195  ...      65000.00

[10 rows x 15 columns]

In [28]:
df.describe(include="all")

                  ID                      name  ... usd_pledged_real usd_goal_real
count   3.786610e+05                    378657  ...     3.786610e+05  3.786610e+05
unique           NaN                    375764  ...              NaN           NaN
top              NaN  New EP/Music Development  ...              NaN           NaN
freq             NaN                        41  ...              NaN           NaN
mean    1.074731e+09                       NaN  ...     9.058924e+03  4.545440e+04
std     6.190862e+08                       NaN  ...     9.097334e+04  1.152950e+06
min     5.971000e+03                       NaN  ...     0.000000e+00  1.000000e-02
25%     5.382635e+08                       NaN  ...     3.100000e+01  2.000000e+03
50%     1.075276e+09                       NaN  ...     6.243300e+02  5.500000e+03
75%     1.610149e+09                       NaN  ...     4.050000e+03  1.550000e+04
max     2.147476e+09                       NaN  ...     2.033899e+07  1.663614e+08

[11 rows x 15 columns]

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 15 columns):
ID                  378661 non-null int64
name                378657 non-null object
category            378661 non-null object
main_category       378661 non-null object
currency            378661 non-null object
deadline            378661 non-null object
goal                378661 non-null float64
launched            378661 non-null object
pledged             378661 non-null float64
state               378661 non-null object
backers             378661 non-null int64
country             378661 non-null object
usd pledged         374864 non-null float64
usd_pledged_real    378661 non-null float64
usd_goal_real       378661 non-null float64
dtypes: float64(5), int64(2), object(8)
memory usage: 43.3+ MB

In [52]:
df.isna().sum()

ID                     0
name                   4
category               0
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd pledged         3797
usd_pledged_real       0
usd_goal_real          0
dtype: int64

Since the number of samples with Nan values of *name* is small amount. Then 4 samples will be drop out of the DataFrame

In [0]:
df = df.dropna(subset=["name"])

In [0]:
df["deadline"] = df.deadline.apply(lambda x: str(x) + " 00:00:00")

In [72]:
df.head()

           ID  ... usd_goal_real
0  1000002330  ...       1533.95
1  1000003930  ...      30000.00
2  1000004038  ...      45000.00
3  1000007540  ...       5000.00
4  1000011046  ...      19500.00

[5 rows x 15 columns]